body{
    color: black;
    text-align: center;
    font-family: Courier;
    font-size: 16;
    margin: 0;
    padding: 0;
}

#container
{
    width: 100%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}